/* Red Borders Everywhere */
/** {border: 1px solid red;}*/




/*
h2 {
  font-family: 'Quattrocento', serif;
  font-size: 2em;
}

h3 {
  font-family: 'Quattrocento', serif;
  font-size: 2em;
}

.site-logo {
  height: auto;
  max-width: 20%;
  padding: 1px;

}

 */
