
// Print styles go here
@media print {

  body {
   background-color: #FFFFFF;
   font-family: 'EB Garamond', serif;
   color: black;
  }

  .main-content {
    border: none;
    border-radius: none;
    background-color: white;
  }

  .print-button {
    visibility: hidden;
  }

  header, footer {
   display: none;
  }

  section#preamble h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
  }

  section#jobs h2, section#education h2, section#community-involvement h2, section#publications h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
  }

  a:link {
    color:#000000;
    text-decoration: none;
  }

  a:visited {
    color:#000000;
    text-decoration: none;
  }

  a:hover {
    color:#000000;
    text-decoration: none;
  }

  a:active {
    color:#000000;
    text-decoration: none;
  }

  .not-printed {
    display: none;
  }

  .print-only {
    display: inline;
  }
}
